.containerTest {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.header {
  background-color: #23645d;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-headline {
  margin: 0;
}

span {
  font-family: "Proforma";
  font-weight: bold;
  color: #ffff;
  font-size: 35px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

p {
  font-size: 15px;
  padding-top: 30px;
}

.content {
  font-family: "Sofia Pro";
  font-weight: bold;
  color: black;
  height: 75vh;
}

.welcomeImg {
  width: 100%;
}

@media (min-width: 800px) {
  .welcomeImg {
    width: 40%;
  }
}

.footer {
  background-color: #23645d;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
