.containerTest {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.qrCode img {
  cursor: pointer;
  position: absolute;
  bottom: 14%;
  right: 10%;
  z-index: 2;
  width: 22%;
  border-radius: 10px;
}

.screensImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (min-width: 800px) {
  .screensImg {
    width: auto;
  }

  .qrCode img {
    bottom: 10%;
    right: 15%;
    width: 10%;
  }
}
